<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= render 'layouts/rails_default' %>
  </head>

  <body>
    <%= render 'layouts/menu' %>
    <%= render 'layouts/flash' %>

    <div class="row">
      <div class="columns small-12">
        <%= yield %>
      </div>
    </div>

    <!-- <div class="row">
      <div class="columns small-12">
        <%= debug(params) if Rails.env.development? %>
      </div>
    </div> -->



  </body>
</html>
